.btn-primary{
    margin-right: 10px;
}

.btn-arrow-top{
    height: 100px;
    width: 100px;
    margin-top: 550px;
    margin-left: 1280px;
    position: fixed;
    z-index: 9999;
}

.btn-round{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(231, 88, 52);
    box-shadow: 0px 0px 5px 2px rgb(231, 174, 159);
    color: white;
}

.btn-round:hover{
    background-color: rgb(223, 117, 91);
    box-shadow: 0px 0px 5px 2px rgb(231, 174, 159);
}

.dropdown-menu{
    z-index: 1999;
    width: 200px;
}

.dropdown-item:hover{
   color: rgb(231, 88, 52);

}

#leftmenuinner{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 220px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 80px;
}

.w3-sidebar{
    width: 220px !important;
    /* box-shadow: 0px 2px 15px 0px rgb(197, 123, 104); */
}

.w3-bar-item:hover{
    background-color: rgb(209, 103, 76);
    color: rgb(255, 255, 255);
}

.blog-content{
    padding-left: 200px;
}

.btn-next{
    float: right;
    margin-right: 100px;
    background-color: #dd6b4d;
    color: white;
}

.btn-next:hover{
    background-color: rgb(216, 83, 50);
    color: white;
    box-shadow: 2px 2px 5px 0px #DD6B4D;
}

.contain-button{
    
}

.site-footer{
    margin-top: 200px;
}

.footer-edit{
    padding-left: 200px;
}

.btn-start{
    margin-top: 10px;
    margin-left: 45%;
    background-color: #dd6b4d;
    color: white;
}

.btn-start:hover{
    background-color: rgb(216, 83, 50);
    color: white;
    box-shadow: 2px 2px 5px 0px #DD6B4D;
}

.imgs{
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.press-title:hover{
    color: #DD6B4D !important;
}

.btn{
    background-color: #dd6b4d;
    color: white;
}

.btn:hover{
    background-color: rgb(216, 83, 50);
    color: white;
    box-shadow: 2px 2px 5px 0px #DD6B4D;
}

.w3-bar-block{
    background-color: rgb(246, 252, 223) !important;
}

.formula{
    background-color: rgb(167, 249, 252);
    border-left: 5px solid rgb(0, 72, 105);
    height: 50px;
    padding: 10px;
}