<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto blog-content">
            <h2 class="text-black">GIỚI THIỆU</h2>

            <blockquote>
                <p>Xin chào bạn đến với phân mục học Cấu trúc Cơ bản (Basic Grammar)!</p>
            </blockquote>

            <p>Phần này bao gồm các bài học cấu trúc cơ bản cần thiết nhất khi bắt đầu lộ trình học tiếng Anh.
            </p>
            <p>Sau mỗi bài học sẽ có các phần bài tập đơn giản giúp bạn ôn lại những gì đã học.</p>
            <p>Hãy kết hợp với phần học Từ Vựng để đạt kết quả tốt nhất nhé. Chúc bạn thành công!</p>
        </div>
    </div>
</div>