<section class="site-section">
    <div class="w3-sidebar" style="top: 0px;">
        <div class="w3-bar-block" id="leftmenuinner">
            <div class="w3-container text-center">
                <h3>CHỦ ĐỀ</h3>
            </div>
            <a class="w3-bar-item" href="not-signin-yet.html">Loại từ</a>
            <a class="w3-bar-item" href="not-signin-yet.html">Ăn uống</a>
            <a class="w3-bar-item " href="not-signin-yet.html">Thức ăn</a>
            <a class="w3-bar-item " href="not-signin-yet.html">Vật dụng trong nhà</a>
            <a class="w3-bar-item " href="not-signin-yet.html">Nhà cửa</a>
            <a class="w3-bar-item " href="not-signin-yet.html">Văn phòng</a>
            <a class="w3-bar-item " href="not-signin-yet.html">Động vật</a>
            <a class="w3-bar-item " href="not-signin-yet.html">Nghề nghiệp</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Môn học</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Trường học</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Bệnh viện</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Khách sạn</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Phương tiện - di chuyển</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Phương hướng</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Thực vật</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Nông trại</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Công nghệ</a>
            <a class="w3-bar-item  " href="not-signin-yet.html">Trang sức</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto blog-content">
                <h2 class="text-black">GIỚI THIỆU</h2>

                <blockquote>
                    <p>Xin chào bạn đến với phân mục học Cấu trúc Cơ bản (Basic Grammar)!</p>
                </blockquote>

                <p>Phần này bao gồm các bài học cấu trúc cơ bản cần thiết nhất khi bắt đầu lộ trình học tiếng Anh.
                </p>
                <p>Sau mỗi bài học sẽ có các phần bài tập đơn giản giúp bạn ôn lại những gì đã học.</p>
                <p>Hãy kết hợp với phần học Từ Vựng để đạt kết quả tốt nhất nhé. Chúc bạn thành công!</p>
            </div>
        </div>
    </div>
</section>