<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto blog-content">
            <h2 class="text-black">GIỚI THIỆU</h2>

            <blockquote>
                <p>Xin chào bạn đến với phân mục học Từ vựng!</p>
            </blockquote>

            <p>Phần này được chia ra thành các chủ đề cụ thể, mỗi chủ đề bao gồm tất cả các loại từ (Danh từ, Tính từ,
                Động từ, Trạng từ,...) nói về chủ đề đó.
            </p>
            <p>Sau mỗi bài học sẽ có các phần bài tập đơn giản giúp bạn ôn lại những gì đã học.</p>
            <p>Hãy kết hợp với phần học Ngữ Pháp để đạt kết quả tốt nhất nhé. Chúc bạn thành công!</p>
        </div>
    </div>
</div>


 
   

<div class="contain-button">
    <button class="btn btn-next"><a href="/notSignin">Bài tiếp theo <i class="fas fa-caret-right"></i></a></button>
</div>